In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Sales_Data.xlsx")

In [3]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2018-02-24,828,Shipped,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2018-05-07,757,Shipped,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2018-07-01,703,Shipped,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2018-08-25,649,Shipped,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10168,36,96.66,1,3479.76,2018-10-28,586,Shipped,Motorcycles,95,S10_1678,Technics Stores Inc.,6505556809,9408 Furth Circle,Burlingame,94217,USA,Hirano,Juri,Medium

In [4]:
df.shape

(2747, 20)

In [5]:
df.duplicated().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   datetime64[ns]
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(5), object(12)
memory usage: 429.3+ KB

In [7]:
df.describe(include='all').T

C:\Users\rkeswani\AppData\Local\Temp\ipykernel_13492\377021028.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
ORDERNUMBER,2747.0,NaN,NaN,NaN,NaT,NaT,10259.761558,91.877521,10100.0,10181.0,10264.0,10334.5,10425.0
QUANTITYORDERED,2747.0,NaN,NaN,NaN,NaT,NaT,35.103021,9.762135,6.0,27.0,35.0,43.0,97.0
PRICEEACH,2747.0,NaN,NaN,NaN,NaT,NaT,101.098951,42.042548,26.88,68.745,95.55,127.1,252.87
ORDERLINENUMBER,2747.0,NaN,NaN,NaN,NaT,NaT,6.491081,4.230544,1.0,3.0,6.0,9.0,18.0
SALES,2747.0,NaN,NaN,NaN,NaT,NaT,3553.047583,1838.953901,482.13,2204.35,3184.8,4503.095,14082.8
ORDERDATE,2747,246,2018-11-14 00:00:00,38,2018-01-06,2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DAYS_SINCE_LASTORDER,2747.0,NaN,NaN,NaN,NaT,NaT,1757.085912,819.280576,42.0,1077.0,1761.0,2436.5,3562.0
STATUS,2747,6,Shipped,2541,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PRODUCTLINE,2747,7,Classic Cars,949,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MSRP,2747.0,NaN,NaN,NaN,NaT,NaT,100.691664,40.114802,33.0,68.0,99.0,124.0,214.0
PRODUCTCODE,2747,109,S18_3232,51,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUSTOMERNAME,2747,89,Euro Shopping Channel,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PHONE,2747,88,(91) 555 94 44,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADDRESSLINE1,2747,89,"C/ Moralzarzal, 86",259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CITY,2747,71,Madrid,304,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
POSTALCODE,2747,73,28034,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTRY,2747,19,USA,928,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTACTLASTNAME,2747,76,Freyre,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTACTFIRSTNAME,2747,72,Diego,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DEALSIZE,2747,3,Medium,1349,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.loc[df[(df['CUSTOMERNAME']=='Land of Toys Inc.') & (df['CUSTOMERNAME']=='Land of Toys Inc.')].index,['CUSTOMERNAME','CONTACTFIRSTNAME','PRODUCTCODE','ORDERDATE','DAYS_SINCE_LASTORDER']].sort_values(by='ORDERDATE')

,CUSTOMERNAME,CONTACTFIRSTNAME,PRODUCTCODE,ORDERDATE,DAYS_SINCE_LASTORDER
0,Land of Toys Inc.,Kwai,S10_1678,2018-02-24,828
1415,Land of Toys Inc.,Kwai,S24_1578,2018-02-24,2243
1510,Land of Toys Inc.,Kwai,S24_2000,2018-02-24,2338
773,Land of Toys Inc.,Kwai,S18_2625,2018-02-24,1601
226,Land of Toys Inc.,Kwai,S12_2823,2018-02-24,1054
2104,Land of Toys Inc.,Kwai,S32_1374,2018-02-24,2932
74,Land of Toys Inc.,Kwai,S10_4698,2018-02-24,902
50,Land of Toys Inc.,Kwai,S10_2016,2018-02-24,878
2448,Land of Toys Inc.,Kwai,S700_1938,2019-05-07,2839
2396,Land of Toys Inc.,Kwai,S700_1138,2019-05-07,2787
2628,Land of Toys Inc.,Kwai,S700_3505,2019-05-07,3019
1891,Land of Toys Inc.,Kwai,S24_3816,2019-05-07,2282
1771,Land of Toys Inc.,Kwai,S24_3151,2019-05-07,2162
1547,Land of Toys Inc.,Kwai,S24_2011,2019-05-07,1938
2654,Land of Toys Inc.,Kwai,S700_3962,2019-05-07,3045
1252,Land of Toys Inc.,Kwai,S18_4522,2019-05-07,1643
1035,Land of Toys Inc.,Kwai,S18_3259,2019-05-07,1426
2525,Land of Toys Inc.,Kwai,S700_2610,2019-05-07,2916
959,Land of Toys Inc.,Kwai,S18_3140,2019-05-07,1350
2733,Land of Toys Inc.,Kwai,S72_3212,2019-05-07,3124
108,Land of Toys Inc.,Kwai,S10_4757,2019-05-07,499
907,Land of Toys Inc.,Kwai,S18_3029,2019-05-07,1298
1995,Land of Toys Inc.,Kwai,S24_4048,2019-09-08,2262
2322,Land of Toys Inc.,Kwai,S50_1392,2019-09-08,2589
1674,Land of Toys Inc.,Kwai,S24_2840,2019-09-08,1941
365,Land of Toys Inc.,Kwai,S12_4473,2019-09-08,632
2349,Land of Toys Inc.,Kwai,S50_1514,2019-09-08,2616
2195,Land of Toys Inc.,Kwai,S32_3207,2019-09-08,2462
1208,Land of Toys Inc.,Kwai,S18_4027,2019-09-08,1475
1403,Land of Toys Inc.,Kwai,S24_1444,2019-09-08,1670
641,Land of Toys Inc.,Kwai,S18_2238,2019-09-08,908
688,Land of Toys Inc.,Kwai,S18_2319,2019-09-08,955
1002,Land of Toys Inc.,Kwai,S18_3232,2019-09-08,1269
2168,Land of Toys Inc.,Kwai,S32_2509,2019-09-08,2435
168,Land of Toys Inc.,Kwai,S12_1099,2019-11-15,367
67,Land of Toys Inc.,Kwai,S10_2016,2019-11-15,266
17,Land of Toys Inc.,Kwai,S10_1678,2019-11-15,216
91,Land of Toys Inc.,Kwai,S10_4698,2019-11-15,290
790,Land of Toys Inc.,Kwai,S18_2625,2019-11-15,989
243,Land of Toys Inc.,Kwai,S12_2823,2019-11-15,442
343,Land of Toys Inc.,Kwai,S12_3990,2019-11-15,542
1528,Land of Toys Inc.,Kwai,S24_2000,2019-11-15,1727
394,Land of Toys Inc.,Kwai,S12_4675,2019-11-15,593
1432,Land of Toys Inc.,Kwai,S24_1578,2019-11-15,1631
591,Land of Toys Inc.,Kwai,S18_1889,2019-11-15,790
2712,Land of Toys Inc.,Kwai,S72_1253,2019-11-15,2911
1066,Land of Toys Inc.,Kwai,S18_3278,2019-11-15,1265
2120,Land of Toys Inc.,Kwai,S32_1374,2019-11-15,2319
293,Land of Toys Inc.,Kwai,S12_3380,2019-11-15,492

In [9]:
df = pd.read_excel("RFM.xlsx")

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [10]:
df.head()

,CUSTOMERNAME,ORDERNUMBER,SALES,Days_since_last_order,ORDERNUMBER [Binned],SALES [Binned],Days_since_last_order [Binned],RFM_M,RFM_F,RFM_R
0,"AV Stores, Co.",51.0,157807.81,1225.0,Bin 4,Bin 4,Bin 3,H,H,ML
1,Alpha Cognac,20.0,70488.44,1093.0,Bin 1,Bin 1,Bin 1,L,L,H
2,Amica Models & Co.,26.0,94117.26,1294.0,Bin 2,Bin 3,Bin 4,MH,ML,L
3,"Anna's Decorations, Ltd",46.0,153996.13,1112.0,Bin 4,Bin 4,Bin 2,H,H,MH
4,Atelier graphique,7.0,24179.96,1217.0,Bin 1,Bin 1,Bin 3,L,L,ML

In [11]:
pd.crosstab([df['RFM_R'],df['RFM_F']],df['RFM_M']).reindex([('H','H'),('H','MH'),('H','ML'),('H','L'),('MH','H'),('MH','MH'),('MH','ML'),('MH','L'),('ML','H'),('ML','MH'),('ML','ML'),('ML','L'),('L','H'),('L','MH'),('L','ML'),('L','L')], axis=0).reindex(['H','MH','ML','L'], axis=1)

RFM_M        H  MH  ML   L
RFM_R RFM_F
H     H      9   1   0   0
      MH     1   3   0   0
      ML     0   1   4   1
      L      0   0   2   1
MH    H      6   1   0   0
      MH     0   4   1   0
      ML     0   2   2   0
      L      0   0   0   6
ML    H      4   0   0   0
      MH     1   2   0   0
      ML     0   4   6   1
      L      0   0   2   2
L     H      1   0   0   0
      MH     0   3   0   0
      ML     0   1   3   0
      L      0   0   2  12